.content__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0eff2;
    height: 100vh;
}

.content {
    width: 100%;
    text-align: center;
    max-width: 600px;
}

.status {
    background-color: #c8c8c8;
    color: #696969;
    border-radius: 50px;
    padding: 10px 20px;
    letter-spacing: 3px;
}

.attendance-date {
    color: #000000;
    font-size: 2.3em;
}

.attendance-time {
    color: #000000;
    font-weight: bold;
    font-size: 4.5em;
    letter-spacing: 3px;
}

.attendance_btn {
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    border-radius: 20px;
    font-size: 1.6em;
    letter-spacing: 6px;
    padding: 10px 60px;
    cursor: pointer;
}

.btn__area {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.break_btn {
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
    border-radius: 20px;
    font-size: 1.6em;
    letter-spacing: 4px;
    padding: 10px 45px;
    cursor: pointer;
    border: none;
}

.message {
    color: #000000;
    font-weight: bold;
    font-size: 1.8em;
}