.content {
    background-color: #f0eff2;
    min-height: 100vh
}

.attendance__content {
    max-width: 900px;
    margin: auto;
    padding: 60px;
}

.attendance__wrapper p.attendance__title {
    max-width: 900px;
    margin: auto;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
    border-left: 8px solid #000000;
    padding: 4px 20px;
}

.request__nav {
    display: flex;
    border-bottom: 2px solid #000000;
    margin-bottom: 40px;
    margin-top: 50px;
}

.request__nav a {
    color: #000000;
    font-weight: normal;
    font-size: 1rem;
    text-decoration: none;
    padding-bottom: 10px;
    margin-left: 80px;
    border-bottom: 3px solid transparent;
    transition: border-color 0.2s, color 0.2s;
}

.request__nav a:first-child {
    margin-left: 50px;
}

.request__nav a.active {
    color: #000000;
    font-weight: bold;
}

.attendance__month {
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 40px 0;
}

.attendance__month .prev__month,
.attendance__month .next__month {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #737373;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    padding: 20px 0;
}

.attendance__month .prev__month img,
.attendance__month .next__month img {
    width: 16px;
    height: 16px;
}

.prev__month img {
    opacity: 30%;
}

.next__month img {
    transform: rotate(180deg);
    opacity: 30%;
}

.attendance__month .current__month {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: bold;
}

.attendance__month .current__month img {
    width: 20px;
    height: 20px;
}

.table__menu {
    width: 100%;
    margin-top: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    border-collapse: collapse;
}

.attendance__column {
    border-bottom: 3px solid #e1e1e1;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #737373;
}

.attendance__deta {
    border-top: 2px solid #e1e1e1;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #737373;
}

.weekday {
    color: #737373;
    font-size: 16px;
    font-weight: 700;
    margin-left: 4px;
}

.attendance__detail {
    color: #000000;
    text-decoration: none;
    font-weight: 700;
}

.attendance__detail.disabled {
    color: #737373;
    opacity: 0.5;
    cursor: not-allowed;
}

.attendance__detail.disabled a {
    pointer-events: none;
    color: inherit;
    text-decoration: none;
}

/* レスポンシブ */
@media (max-width: 768px) {
    .attendance__content {
        max-width: 90%;
        margin: 40px auto;
        padding: 0 10px;
    }

    .attendance__wrapper p.attendance__title {
        font-size: 24px;
        padding: 4px 15px;
    }

    .attendance__month {
        gap: 10px;
        padding: 10px 0;
    }

    .attendance__month .prev__month,
    .attendance__month .next__month {
        padding: 10px 10px;
        font-size: 14px;
    }

    .attendance__month .current__month {
        font-size: 18px;
    }

    .table__menu {
        border-radius: 5px;
        overflow-x: auto;
    }

    .attendance__column,
    .attendance__deta {
        font-size: 14px;
        padding: 8px;
    }
}
