.register-form__content {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 20px;
}

.form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.register-form__heading {
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.form__label--item {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.form__label--input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #5f5f5f;
    border-radius: 4px;
    width: 100%;
    height: 50px;
    margin-top: 10px;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__button-submit {
    margin-top: 40px;
    background-color: #ff5555;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    padding: 12px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    height: 50px;
    text-align: center;
    text-decoration: none;
}

.login__link {
    margin-top: 20px;
    text-align: center;
}

.login__button-submit {
    text-decoration: none;
}
