.verify-notice {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 20px;
}

.verify-notice__parts {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.verify-button__parts {
    display: flex;
    justify-content: center;
    align-items: center;
}

.verify-button {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    padding: 10px 20px;
    border: 1px solid #000000;
    border-radius: 8px;
    cursor: pointer;
    background-color: transparent;
    text-align: center;
    background-color: #d9d9d9;
    width: 30%;
}

.resend__link {
    margin-top: 20px;
    text-align: center;
}

.button-submit {
    text-decoration: none;
}